body 
        {
            font-family: Poppins, sans-serif;
            max-width: 800px;
            margin: 25px auto;
            padding: 20px;
        }
h1 {
            color: #333;
        }

.profile 
            {
            width: 300px;
            border-radius: 10%;
            object-fit: cover;
            }
   </style>
