body 
    {
        font-family: Poppins, sans-serif;
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;

        background-image: url("images/background_image.jpg");
        background-size: cover;
    }

.profile 
    {
        width: 300px;
        border-radius: 5%;
        object-fit: cover;
    }

p, h1, h2, h3
    {
    color: white;
    }

table 
    {
    border-collapse: collapse;
    border: 2px solid white;
    }

td, th
    {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    }
